<div class="main-content-head">
  <p>hogefuga</p>
  <div class="main-content-head-button">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main-content-item">
  <%# <div class="main-content-item-name">
    <p class="main-content-item-name-name">Tom</p>
    <p class="main-content-item-name-month">2020/3/31(Wed) 12:43:30</p>
  </div>
  <div class="main-content-item-text">
    <p class="main-content-item-text-text">おはよう</p>
  </div>
  <div class="main-content-item-name">
    <p class="main-content-item-name-name">Tom</p>
    <p class="main-content-item-name-month">2020/3/31(Wed) 12:47:30</p>
  </div>
  <div class="main-content-item-text">
    <p class="main-content-item-text-text">こんにちは</p> %>
    <%=render partial: 'message', collection: @messages%>
</div>

<%= form_with model:[@room,@message],html: {class: "main-content-foot"}, local: true do |f|%>
  <div class="form-input">
    <%= f.text_field :content,class:'main-content-foot-text',placeholder: 'type a message'%>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image,class:'hidden'%>
    </label>
  </div>
  <%=f.submit '送信', class: 'main-content-foot-button'%>
<%end%>